src/*.exe
src/StormCoin
src/StormCoind
src/test_StormCoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.StormCoin

# Compilation and Qt preprocessor part
*.qm
Makefile
StormCoin-qt
StormCoin-Qt.app

# Unit-tests
Makefile.test
StormCoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
